*.log
.DS_Store
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
.gitattributes
.editorconfig
artisan
package-lock.json
package.json
phpunit.xml
/bootstrap
/tests
.htaccess
favicon.ico
robots.txt
/vendor
.env
